.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 60px;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #010330;
}

.App-link {
  color: #61dafb;
}

.Text-wrapper {
  max-width: 60%; /* Adjust the width based on your preference */
  margin: 0 auto;
}
